<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/integration/bootstrap.php"
	colors="true"
	cacheResultFile=".phpunit.cache/integration.result.cache"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<testsuite name="Integration">
			<directory suffix="Test.php">tests/integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
